.login-background {
  height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  font-family: 'Work Sans', sans-serif;

  .login-container {
    width: 400px;

    border-radius: 10px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 450px;

    .login-content {
      padding: 10px;
      .text-login {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .login-input {
        margin: 7px 0;

        .custom-input-password {
          position: relative;

          i {
            position: absolute;
            right: 7px;
            top: 10px;
            cursor: pointer;
          }
        }
      }

      .btn-login {
        width: 100%;
        margin: 10px 0px;
        height: 35px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: linear-gradient(
          135deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
        color: white;
      }

      .forgot-password {
        font-size: 12px;
      }

      .register-signup {
        margin: 15px 0;

        .text-signup {
          font-size: 14px;
          color: #333;

          a {
            color: #22c1c3;
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s ease;
            border-bottom: 2px solid transparent;

            &:hover {
              color: #fdb12f;
              border-bottom-color: #fdb12f;
            }
          }
        }
      }

      .social-login {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .google {
          font-size: 30px;
          background-color: rgba(255, 0, 0, 0.877);
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-right: 10px;
        }

        .facebook {
          font-size: 30px;
          background-color: rgba(0, 47, 255, 0.844);
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }
}
